<div class="jumbotron center">
    <h1>Welcome to my Recipes</h1>
    <h2>The bes recipes sharing upp!</h2>
    <p>
        <%= link_to "Sing up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
    </p>
</div>

<!--  Columns -->
<div class="row">
    <div class="col-lg-4">
        <h2 class="mitexto">Rompope mexicano</h2>
        <p>
            Esta receta para hacer rompope de café te cautivará por lo fácil y rápida que resulta prepararla ¡Un clásico internacional sin complicaciones! Por este motivo, RecetaGratiste propone la bebida tradicional de la Navidad que resulta perfecta para cualquier celebración importante durante todo el año: rompope de café casero. ¡Una experiencia gastronómica muy aromática!
        </p>
    </div>
    
    <div class="col-lg-4">
        <h2 class="mitexto">Receta de Aguachile verde de pescado</h2>
        <p>
            El aguachile es un platillo típico de México que se consume principalmente en el noroeste del país. Los ingredientes más usados suelen ser camarones crudos, chiles frescos o secos, limón, sal y agua, aunque actualmente se pueden hacer cientos de variantes para esta receta, tal como la que te mostraremos esta vez en RecetasGratis. Se trata de un delicioso aguachile verde de pescado servido con aguacate y pepino. ¡Riquísimo y nutritivo! Así que no busques más recetas y sigue leyendo para descubrir cómo hacer aguachile de pescado paso a paso
        </p>
    </div>
    
    <div class="col-lg-4">
        <h2 class="mitexto">Receta de Capirotada mexicana con panela</h2>
        <p>
            La capirotada con piloncillo es un postre típico mexicano de los estados de Jalisco, Sinaloa, Sonora y Nuevo León que normalmente se prepara en temporada de vigilia o Cuaresma. Este delicioso postre consiste en pan tostado (tradicionalmente se utilizaba pan duro) cortado en rodajas que son puestas a cocer junto con trozos de coco, pasas, y cacahuates, cubierto con jarabe de piloncillo y queso de mesa rallado. Aunque hoy en día existen cientos de variantes para la receta de capirotada mexicana con panela, puedes estar seguro de que todas son deliciosas así que no te quedes con el antojo y sigue leyendo el paso a paso que te hemos preparado en RecetasGratis
        </p>
    </div>
    
</div>